appdirs==1.4.4
asgiref==3.5.0
attrs==21.4.0
bip32utils==0.3.post4
black==21.6b0
boto3==1.18.1
botocore==1.21.1
CacheControl==0.12.6
cachy==0.3.0
certifi==2020.12.5
chardet==4.0.0
cleo==0.8.1
click==7.1.2
clikit==0.6.2
confidential==2.3.1
crashtest==0.3.1
distlib==0.3.1
Django==3.2.11
ecdsa==0.17.0
filelock==3.0.12
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
gemini-python==0.2.1
geminipy==0.0.4
gevent==21.12.0
greenlet==1.1.2
html5lib==1.1
idna==2.10
image==1.5.33
importlib-metadata==1.7.0
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
jmespath==0.10.0
keyring==21.8.0
lockfile==0.12.2
MarkupSafe==2.0.1
meshio==4.4.6
mnemonic==0.20
msgpack==1.0.2
mypy-extensions==0.4.3
numpy==1.21.1
packaging==20.9
pastel==0.2.1
pathspec==0.8.1
pexpect==4.8.0
Pillow==9.0.0
pkginfo==1.7.0
pluggy==1.0.0
poetry==1.1.6
poetry-core==1.0.3
ptyprocess==0.7.0
py==1.11.0
pylev==1.3.0
pyparsing==2.4.7
pytest==6.2.5
python-dateutil==2.8.2
pytz==2021.3
qrcode==7.3.1
regex==2021.4.4
requests==2.25.1
requests-toolbelt==0.9.1
s3transfer==0.5.0
shellingham==1.4.0
simplejson==3.17.5
six==1.16.0
SQLAlchemy==1.4.27
sqlparse==0.4.2
svgwrite==1.4.1
toml==0.10.2
tomlkit==0.7.0
typed-ast==1.4.3
typing-extensions==3.10.0.0
urllib3==1.26.4
virtualenv==20.4.6
webencodings==0.5.1
websocket==0.2.1
websocket-client==1.2.3
Werkzeug==2.0.2
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
